
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #145277;
    --winning-blocks: #2d414b;
    --backgroundCplor :#83d0cb;
}

h2
{
text-align: 
center;margin: 20px;
}

button {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--backgroundCplor);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.game-board {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
   
}

.headers
{
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
    align-items: center;
    justify-content: center;

}

/*  for some css stylings */

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;  
    display: flex;
    justify-content: center;
    background-color: var(--backgroundCplor);;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 


.box {

    border: 1px;
    height: 150px;
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 5px solid;
    border-bottom: 5px solid;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--backgroundCplor);
}

.hide 
{
    visibility: hidden;
}


/* for toggle balck theme #9A69E4 */


.topcorner{
    margin: 5px;
    position:absolute;
    top:0;
    right:0;
    padding-right: 10px;
   }

label {
    width:50px;
    height:20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

label:after {
    content: "";
    width:25px;
    height: 20px;
    position: absolute;
    top:0px;
    left:0px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background: #242424;
}


input:checked + label:after {
    left:49px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
  label, label:after {
    transition: 0.3s
  }



